.product-card__image-gallery-item {
  width: 200px;
  aspect-ratio: 4/5;
  object-fit: cover;
  height: auto;
  padding: 10px;
}

.product-card__imagesGallery {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  grid-column: 1/3;
  flex-wrap: wrap;
}

.product-card__gallery-title {
  font-family: 'Comic Sans MS', cursive;
  text-align: center;
  margin: 30px 0 50px;
}

.image-gallery-btn {
  background-color: transparent;
  border: 1px solid #ddd;
  transition: all 0.2s;
  margin: 0 0.5rem;
}

.image-gallery-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.image-gallery-slider {
  border: none;
  background-color: transparent;
}
