.image-carousel {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  height: 95vh;
  width: 100%;
  object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
  position: fixed;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 3%;
}