.formInput {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #9ea0a2;
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
}

.errorInput {
  outline: 2px solid red;
  border-bottom: 1px solid transparent;
}

.error_invisible {
  opacity: 0;
}

.error_visibility {
  opacity: 100;
  color: red;
  font-weight: 500;
}

.errorOccur {
  outline: 2px solid red;
  border-bottom: 1px solid transparent;
}

.formInput:disabled,
.formInput:disabled::placeholder {
  color: #aaaaaa;
}
