.product-card {
  margin: 60px;
  font-family: Verdana, sans-serif;
  font-weight: 400;
  color: #593825;
  font-size: 12px;
}

.product-card__title {
  font-family: 'Comic Sans MS', cursive;
  font-size: 16px;
}

.product-card__imageContainer {
  margin: 20px 0;
  text-align: center;
}

.product-card__image {
  width: 90%;
  aspect-ratio: 4/5;
  object-fit: contain;
  height: auto;
}

.product-card__image:not(:last-child) {
  margin-right: 20px;
}

.product-card__rate {
  display: flex;
}

.product-card__reviews {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}

.product-card__price-container {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.product-card__cart-button-container {
  display: flex;
  gap: 20px;
  margin: 20px 0 40px;
}

.product-card__description-title {
  margin: 20px 0;
}

.product-card__description-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  max-height: calc(1.5em * 4);
}

.product-card__description-text.collapsed {
  -webkit-line-clamp: 4;
}

.product-card__description-text.expanded {
  -webkit-line-clamp: unset;
  max-height: none;
}

.product-card__description-btn {
  text-decoration: underline;
  font-weight: 700;
  border: none;
  background-color: transparent;
  margin-top: 20px;
}

.product-card__description-btn:hover {
  cursor: pointer;
  color: #593825;
}

.product-card__price-value {
  font-size: 1.1rem;
  font-family: 'Comic Sans MS', cursive;
}

.product-card__main-image-slider {
  border: none;
  background: transparent;
}

.product-card__main-slider-container {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.product-card__main-image-slider:hover {
  cursor: pointer;
}

.product-price__discount-mode{
  display: flex;
  gap: 1rem;
}

.old-price{
  text-decoration: line-through;
}

.new-price{
  color:rgb(250, 0, 0);
}

@media screen and (min-width: 769px) {
  .product-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin: 60px;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    color: #593825;
    font-size: 14px;
  }

  .product-card__title {
    font-size: 32px;
  }

  .product-card__image {
    width: 300px;
    padding: 10px;
  }
  
.product-card__price-value {
  font-size: 1.3rem;
}
}

@media screen and (min-width: 1025px) {
  .product-card {
    font-size: 16px;
  }

  .product-card__image {
    width: 400px;
  }

  .product-card__title {
    font-size: 40px;
  }
}
