.product-modal__container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.product-modal{
    position: relative;
}

.product-modal__btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    color: #000;
    padding: 4px 7px;
    border: 1px solid #848484;
    border-radius: 2px;
}

.product-modal__btn:hover{
    cursor: pointer;
}

.product-modal__img-container{
    box-sizing: border-box;
    border: 1px solid #ffffff55;
    box-shadow: 0px 0px 20px #ffffff;
}

.product-modal__img{
    width: 100%;
    height: 100%;
    max-height: 90vh;
    object-fit: contain;
}