@import './normalize.css';
@import './breakpoints.css';

/* Breakpoints */
/* 
 --mobile: 320px - 480px;
 --tablets: 481px- 768px;
 --laptops: 769px - 1024px;
 --desktops: 1025px - 1200px;
 --largeScreens: 1025px - 1200px;
   */

:root {
  --primary-color: #593825;
  --primary-bg: #f5f1f1;
  --primary-grey: #9ea0a2;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comic Sans MS', cursive;
}

::placeholder {
  color: var(--primary-color);
}
