.main__promo-data {
    color: #456a32;
    background-color: #d3d3d3;
    padding: 1%;
}

.main__promo-data__title {
    font-size: 18px;
    padding-bottom: 1em;
    text-align: center;
}

.main__promo-data__item {
    line-height: 1.5;
    padding-top: 0.5em;
}

@media screen and (min-width: 769px) {
    .main__promo-data__title {
        font-size: 24px;
    }
}

@media screen and (min-width: 1025px) {
    .main__promo-data__title {
        font-size: 32px;
    }
}

.bold-text {
    font-weight: 700;
    display: inline-block;
    font-family: var(--accent-font);
    font-size: 1.15em;
    color: #49663b;
}