.footer {
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #9ea0a2;
  padding: 40px 0;
  color: #ffffff;
  cursor: pointer;
}

.footer__nav,
.footer__addresses {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__nav-item a,
.footer__phone-number a,
.footer__socials__instagram,
.footer__socials__facebook {
  color: #ffffff;
  transition: all 0.5s;
}

.footer__nav-item:hover a,
.footer__phone-number:hover a,
.footer__socials__instagram:hover,
.footer__socials__facebook:hover {
  color: #000000;
}

.footer__socials {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
