.registration-form {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid var(--primary-color);
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--primary-bg);
  border-radius: 10px;
}

.registration-form__btn {
  border: 1px solid var(--primary-color);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.registration-title {
  text-align: center;
}
